.quote {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	background: #efefef;
	padding: 10px 15px;
}

.quote-attribute-wrapper {
	text-align: right;
}

.quote-attribute {
	font-style: normal;
	text-align: right;
}
