.jumbotron,
.jumbotron-fluid {
    background-image: linear-gradient(
        to right,
        var(--orange-dark),
        var(--orange-light),
        var(--orange-dark)
    );
    padding-bottom: 7rem;
}

.img-fluid {
    margin-top: -7rem;
}
