@import '../../scss/main';

.footer {
	color: $white;
	background-color: $grey-dark;
	border-top: 1px solid $grey-light;
	margin-top: 7rem !important;
	.footer-top {
		padding: 2rem 0 0.5rem 0;
		.footer-content-left {
			.footer-title {
				display: flex;
				flex-direction: row;
				align-items: baseline;
				justify-content: center;
				.footer-logo {
					background-color: $white;
					padding: 0.3rem;
					border-radius: 50%;
					border: 2px solid darken($color: $grey-dark, $amount: 10);
					img {
						height: 2rem;
					}
				}
				h4 {
					margin-left: 1rem;
				}
			}
		}
		.footer-social {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: baseline;
			margin-top: 2rem;
			h5 {
				color: $orange-light;
			}
			ul {
				padding: 0;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				list-style: none;
				margin-left: 2.5rem;
				li {
					margin-right: 1.5rem;
					font-size: 1rem;
					a {
						text-decoration: none;
						color: $white;
						font-size: 1rem;
						i {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
		.footer-content-right {
			.footer-links {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 1.5rem;
				h5 {
					color: $orange-light;
				}
				ul {
					padding: 0 !important;
					display: flex;
					flex-direction: column;
					align-items: center;

					li {
						list-style: none;
						a {
							text-decoration: none;
							color: $white;
							font-size: 1rem;
							&:hover {
								color: lighten(
									$color: $orange-light,
									$amount: 15
								);
							}
						}
					}
				}
			}
		}
	}
}
.footer-bottom {
	padding: 1rem 0;
	background-color: darken($color: $grey-dark, $amount: 5);
}

@media only screen and (min-width: 768px) {
	.footer {
		.footer-top {
			.footer-social {
				margin-left: 4rem;
			}
			.footer-content-right {
				.footer-links {
					&:first-child {
						margin-top: 0.5rem;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1020px) {
	.footer {
		.footer-top {
			padding: 2rem 0 1.5rem 0;
			.footer-content-right {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				.footer-links {
					margin-top: 0.5rem;
				}
			}
		}
	}
}
