.footer {
    color: $white;
    background-image: linear-gradient(
        to right,
        $grey-dark,
        lighten($grey-dark, 20%),
        $grey-dark
    );
    .footer-top {
        padding: 2rem 0;
    }
    .footer-bottom {
        padding: 2rem 0;
        background-image: linear-gradient(
            to right,
            $black,
            lighten($black, 10%),
            $black
        );
    }
}
