.btn {
	border-radius: 25px;
	margin: 5px 0px;
}

.btn-primary {
	background-color: $primary;
	border-color: $primary;

	&:hover,
	&:active,
	&:target,
	&:focus {
		background-color: darken($color: $primary, $amount: 10) !important;
		border-color: darken($color: $primary, $amount: 10) !important;
		box-shadow: none !important;
	}
}

.btn-secondary {
	background-color: $secondary;
	border-color: $secondary;

	&:hover,
	&:active,
	&:target,
	&:focus {
		background-color: darken($color: $secondary, $amount: 10) !important;
		border-color: darken($color: $secondary, $amount: 10) !important;
		box-shadow: none !important;
	}
}
.btn-danger {
	background-color: $danger;
	border-color: $danger;
	color: white;

	&:hover,
	&:active,
	&:target,
	&:focus {
		background-color: darken($color: $danger, $amount: 10) !important;
		border-color: darken($color: $danger, $amount: 10) !important;
		box-shadow: none !important;
	}
}
.btn-success {
	background-color: $success;
	border-color: $success;

	&:hover,
	&:active,
	&:target,
	&:focus {
		background-color: darken($color: $success, $amount: 10) !important;
		border-color: darken($color: $success, $amount: 10) !important;
		box-shadow: none !important;
	}
}
.btn-warning {
	background-color: $warning;
	border-color: $warning;
	color: white;

	&:hover,
	&:active,
	&:target,
	&:focus {
		background-color: darken($color: $warning, $amount: 10) !important;
		border-color: darken($color: $warning, $amount: 10) !important;
		box-shadow: none !important;
		color: white;
	}
}

.btn-subNav {
	width: 100% !important;
	border-radius: 0px !important;
	margin-right: 0.5rem !important;
}
