// color variables
$black: #131312 !default;
$grey-dark: #4f5253 !default;
$grey: #717375 !default;
$grey-hero-background: #edeff1 !default;
$grey-light: #cecece !default;
$orange-dark: #fa6500 !default;
$orange-light: #fb8f5f !default;
$gree-bright: #11f922 !default;
$white: #f5f5f5 !default;
$background-gray: #efefed !default;

$danger: #f57f91 !default;
$warning: #f5a87f !default;
$primary: #b57ff5 !default;
$secondary: #b9b3af !default;
$success: #7ec494 !default;

$grey-light: #f2f2f2 !default;
$grey: #b6b6b6 !default;
$grey-dark: #707070 !default;

$black-shade: #353535 !default;
$black: #231f20 !default;
$white: #ffffff !default;
