@import '../../scss/main';

.masthead-logo {
	margin-top: -5rem;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.jumbotron.jumbotron-fluid {
	background-image: linear-gradient(
		to right,
		$orange-dark,
		$orange-light,
		$orange-dark
	);
	height: 200px;
}

@media screen and (min-width: 576px) {
	.jumbotron.jumbotron-fluid {
		padding: 3em 0 2em;
	}

	.masthead-logo {
		margin-top: -6rem;
		width: 200px;
	}
}

@media screen and (min-width: 768px) {
	.jumbotron.jumbotron-fluid {
		padding: 3em 0 2em;
	}

	.masthead-logo {
		width: 200px;
	}
}

@media screen and (min-width: 992px) {
	.jumbotron.jumbotron-fluid {
		height: 260px;
		padding: 3em 0 2em;
	}

	.masthead-logo {
		width: 260px;
	}
}

@media screen and (min-width: 1024px) {
	.jumbotron.jumbotron-fluid {
		padding: 3em 0 2em;
	}

	.masthead-logo {
		width: 260px;
	}
}
