// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.navbar {
		padding: 0.5rem 1rem !important;
		height: 73.5px;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.navbar {
		padding: 0.5rem 1rem !important;
		height: 73.5px;
	}
}
