// Large devices (desktops, 992px and up)
@import '../../scss/main';

.navbar {
  padding: 1.5rem 0.5rem !important;
  background: #fff !important;
  border-bottom: 1px solid #ccccca;
  border-top: 1px solid #ccccca;
}

.nav-link {
  color: $black !important;
  margin-right: 1rem;
  &:hover {
    color: $grey !important;
  }
}

@media screen and (min-width: 768px) {
  .links-container {
    margin-left: 15px !important;
    padding-left: 15px !important;
  }
}

@media screen and (min-width: 992px) {
  .links-container {
    margin-left: 15px !important;
    padding-left: 15px !important;
  }
}

@media screen and (min-width: 1200px) {
  .links-container {
    margin-left: auto !important;
    padding-left: atuo !important;
  }
}
