@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	@include sans-font;
	background-color: rgb(239, 239, 237);
	-webkit-font-smoothing: antialiased;
	color: $black;
}

a,
a:focus,
a:visited {
	color: #24a0ed;
	transition: color 0.2s linear, background 0.2s linear, text-shadow 0.2s linear;
	-o-transition: color 0.2s linear, background 0.2s linear, text-shadow 0.2s linear;
	-moz-transition: color 0.2s linear, background 0.2s linear, text-shadow 0.2s linear;
	-webkit-transition: color 0.2s linear, background 0.2s linear, text-shadow 0.2s linear;
	text-decoration: none !important;
}

// Headings

h1,
h2,
h3,
h4,
h5 {
	font-weight: 800;
}

/* buttons  */
.btn-primary,
.btn-outline-primary:hover {
	color: $white;
	background-color: $orange-dark;
	border-color: $orange-dark;
}
.btn-outline-primary {
	color: $orange-dark;
	border-color: $orange-dark;
}

.btn-cta-dark {
	border: solid 3px $white !important;
	border-radius: 3rem !important;

	background-color: $grey-dark !important;
	color: $orange-light !important;
	&:hover {
		background-color: $white !important;
		color: $orange-dark !important;
		border-color: $orange-dark !important;
	}
}
.btn-cta-light {
	border: solid 3px $orange-dark !important;
	border-radius: 3rem !important;

	background-color: $white !important;
	color: $orange-dark !important;
	&:hover {
		background-color: $grey-dark !important;
		color: $orange-light !important;
		border-color: $orange-dark !important;
	}
}

//	// size

.btn-xl {
	padding: 1.5rem 2rem !important;
}
