/* buttons  */
.btn-primary,
.btn-outline-primary:hover {
    color: $white;
    background-color: $orange-dark;
    border-color: $orange-dark;
}
.btn-outline-primary {
    color: $orange-dark;
    border-color: $orange-dark;
}
