// color variables
$black: #131312 !default;
$grey-dark: #505253 !default;
$grey: #717375 !default;
$grey-light: #cecece !default;
$orange-dark: #fa6500 !default;
$orange-light: #fb8f5f !default;
$gree-bright: #11f922 !default;
$white: #f5f5f5 !default;
