@import '../../scss/main';

.footer {
	color: $black;
	background-color: $background-gray;
	border-top: 1px solid $grey-light;
	// background-image: linear-gradient(
	// 	to right,
	// 	$grey-dark,
	// 	lighten($grey-dark, 20%),
	// 	$grey-dark
	// );
	.footer-top {
		padding: 2rem 0;
	}
	.footer-bottom {
		padding: 1.2rem 0;
		background-color: $background-gray;
		// background-image: linear-gradient(
		// 	to right,
		// 	$black,
		// 	lighten($black, 10%),
		// 	$black
		// );
	}
	.footer-social {
		h5 {
			float: left;
		}
		ul {
		display: block;
		list-style: none;
		float: right;
		}
		li {
			display: inline-block;
			position: relative;
			margin-left: 1em;
		}
	}

}
