@import '../../../App.scss';

.single {
	margin-bottom: 32px;
}

.list {
	display: block;
	margin-top: -65px;
	margin-bottom: 32px;
}

.about {
	padding-top: 4rem;
	h1 {
		padding-bottom: 4rem;
		text-align: center;
	}
	p {
		line-height: 2rem;
		margin-bottom: 2rem;
	}
}
